.confirmation-modal {
  &__action {
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    &-delete {
      color: var(--color-danger);
      transition: border-color 0.25s;
      
      &:hover {
        border-color: var(--color-danger);
      }
    }
  }
}