.book {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);

  margin: 1rem 0;
  padding: 1.5rem;
  border: 2px solid transparent;
  border-radius: 6px;
  background-color: var(--color-background-default);
  transition: border-color 0.25s;

  width: auto;
  cursor: pointer;

  &:hover {
    border-color: var(--color-primary);
  }

  &__cover {
    grid-column: 1;

    &__image {
      width: 100%;
      height: auto;
      aspect-ratio: 2 / 3;
      object-fit: scale-down;
    }
  }

  &__info {
    grid-column: 2 / -1;
  }

  &__info-section {
    margin-bottom: 1rem;
  }

  &__action {
    display: flex;
    justify-content: space-between;

    &-section {
      display: flex;
      gap: 0.5rem;
    }

    &-edit {
      transition: border-color 0.25s, color 0.25s;

      &:hover {
        border-color: var(--color-primary);
        color: #a8acff ;
      }
    }

    &-delete {
      transition: border-color 0.25s, color 0.25s;

      &:hover {
        border-color: var(--color-danger);
        color: var(--color-danger) ;
      }
    }

    &-favorite {
      transition: border-color 0.25s, color 0.25s;

      &:hover {
        border-color: #fb94fd;
        color: #fb94fd ;
      }
    }
  }
}